@{
    ViewData["Title"] = "Contact Page";
}

<div class="contact">
    <h1>Contact & About</h1>
    <div class="tukadi">
        <div class="kadi">
            <h2>
                Contact Us
            </h2>
            <p>
                This website was written by [your name]
            </p>
            <p>
                To get in contact please email <a href="#">[link to your email address]</a>
            </p>
        </div>
        <div class="kadi">
            <h2>
                About Us
            </h2>
            <p>
                This website provides an introduction to Artificial Intelligence and was created as
                partial fulfillment of the assessment requirements of Web Design and Programming at the
                University of Canberra.
                This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design
                techniques. </p>
        </div>
        <div class="kadi">
            <h2>
                Copyright
            </h2>
            <p>
                All images used in this website were downloaded from Unsplash
                The icons for the footer from fontawesome.
            </p>
            <p>
                The Anton font used for headers from Google Fonts.
            </p>
            <p>
                The AI jobs dataset from Insights.
            </p>
            <p>
                The Python source from Kaggle
            </p>
            <p>
                The Python web based on PyScript from Real Python. </p>
        </div>
    </div>
</div>