@model GenAiWebsite.Models.IndexViewModel

@{
    ViewData["Title"] = "GenAiSite";
}

    <video loop muted autoplay="autoplay" preload="auto" id="bgvid">
        <source src="../../Videos/video.mp4" type="video/mp4">
    </video>
    <div class="darken">
        @* <div class="nav">
        </div> *@
        <div class="intro">
            <h1>Generative AI Technology</h1>
            <p class="GenAI">
                Any time an AI technology is generating something on its own, it can be referred to as
                "generative AI." This umbrella term includes learning algorithms that make predictions
                as well as those that can use prompts to autonomously write articles and paint pictures.
                Techopedia
            </p>
        </div>
    </div>
    <div class="contents">
        <div class="container">
            <div class="words">
                <h2>GenAI Tools</h2>
                <p>
                    Generative AI tools refer to software or systems that use neural network techniques to
                    process and comprehend input data, subsequently producing meaningful responses.
                    Scribehow <button><a asp-controller="Home" asp-action="GenAI">Read more</a></button>
                </p>
            </div>
            <div class="images">
                <img src="../../Images/genai/bard_thumbnail.jpg" alt="Google Bard">
                <img src="../../Images/genai/midjourney_thumbnail.jpg" alt="Midjourney">
            </div>
        </div>
        <div class="container">
            <div class="images">
                <img src="../../Images/genai/ms_thumbnail.jpg" alt="Google Bard">
                <img src="../../Images/genai/google_thumbnail.jpg" alt="Midjourney">
            </div>
            <div class="words">
                <h2>GenAI Organisations</h2>
                <p>
                    Generative AI Organizations like Microsoft, Google, Amazon and IBM have invested
                    hundreds of millions of dollars and massive compute power to build the foundational
                    models on which services like ChatGPT and others depend.
                    Gartner <a id="org" asp-controller="Home" asp-action="GenAI" class="btn btn-primary">Read more</a>
                </p>
            </div>
        </div>
        <div class="container">
            <div class="words">
                <h2>GenAI Applications</h2>
                <p>
                    Text: GPT-3, LaMDA, LLaMA, BLOOM and GPT-4.
                </p>
                <p>
                    Code: OpenAI Codex.
                </p>
                <p>
                    Images: DALL-E, Midjourney and Stable Diffusion.
                </p>
                <p>
                    Video: Make-A-Video (Meta Platforms).
                </p>
                Wikipedia <button><a>Read more</a></button>
                </p>
            </div>
            <div class="images">
                <img src="../../Images/genai/chatgpt_thumbnail.jpg" alt="Google Bard">
                <img src="../../Images/genai/dalle_thumbnail.jpg" alt="Midjourney">
            </div>
        </div>
        <div class="container">
            <div class="images">
                <img src="../../Images/genaisites/pie.jpg" alt="Google Bard">
                <img src="../../Images/genaisites/job.jpg" alt="Midjourney">
            </div>
            <div class="words">
                <h2>AI Jobs</h2>
                <p>
                    The prime source for jobs and talents in AI, ML, Data Science and Big Data: <a
                        href="https://ai-jobs.net/">
                        Insights AI-
                        Jobs
                    </a>
                </p>
                <p>
                    Python source for tables and charts: <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-
            analysis">Kaggle</a>.
                </p>
                <p>
                    <button>
                        <a asp-controller="Home" asp-action="Jobs">Read
                            more</a>
                    </button>
                </p>
            </div>
        </div>


        <div class="words" id="list">
            <h2>List Of Generative AI Websites</h2>
            @if (Model.IsAuthenticated)
            {
                <div>
                    <a asp-area="" asp-controller="GenAIs" asp-action="Create">Click here to add a new Generative AI
                        website</a>
                </div>
            }
            else
            {
                <p>
                    Please <a asp-area="Identity" asp-page="/Account/Login">Login</a> or<a asp-area="Identity"
                        asp-page="/Account/Register">Register</a> to add a new
                    generative AI Website.
                </p>

            }

            @if (Model.GenAIList == null)
            {
                <div>
                    <p>@ViewBag.Message</p>
                </div>
            }
            else
            {
                <div class="genais">

                    <div class="row">

                        @foreach (var genAI in Model.GenAIList)
                        {
                            <div class="col-md-2">

                                <div class="genai-block">

                                    <h3>@genAI.GenAIName</h3>

                                    <a asp-controller="Home" asp-action="GenAiSites">
                                        <img src="@Url.Content("~/images/" + genAI.ImageFilename)" class="img-fluid">
                                    </a>
                                    @* <a href="/GenAI/Details/@genAI.Id">Read More</a> *@

                                </div>

                            </div>
                        }

                    </div>

                </div>
            }



        </div>
    </div>
