<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('serve_css', filename='style.css') }}">
</head>
<body>
<div class="welcome-container">
    <h1>Welcome to ICT</h1>
    <p>This is a simple welcome page for an ICT website using Flask.</p>
    <br>
    <form action="/quiz" method="POST">
        <p>Input your name:
        <input type="text" name="name">
        </p>
        <p>Input number of Quiz:
        <input type="text" name="quizzes"></p>
        <br>
        <p><button type="submit">Submit</button></p>
    </form>
</div>
</body>
</html>