@{
    ViewData["Title"] = "GenAI Page";
}

<div class="genai_tools">
    <div id="div1">
        <h1>GenAI Tools</h1>
        <div class="tuoptions">
            <div class="ko">
                <div class="sizing">
                    <div class="more" id="over1">
                        <h2>
                            ChatGPT
                        </h2>
                        <button class="more_btn" id="btn1">
                            More Details
                        </button>
                        <p> </p>
                    </div>
                    <img class="hover_effect" id="over1" src="../../Images/genai/chatgpt_thumbnail.jpg"
                        alt="Google Bard">
                </div>
                <div class="sizing">
                    <div class="more" id="over2">
                        <h2>
                            Google Bard
                        </h2>
                        <button class="more_btn" id="btn2">
                            More Details
                        </button>
                        <p> </p>
                    </div>
                    <img class="hover_effect" id="over2" src="../../Images/genai/bard_thumbnail.jpg" alt="Midjourney">
                </div>
            </div>
            <div class="ko">
                <div class="sizing">
                    <div class="more" id="over3">
                        <h2>
                            Midjourney
                        </h2>
                        <button class="more_btn" id="btn3">
                            More Details
                        </button>
                        <p> </p>
                    </div>
                    <img class="hover_effect" id="over3" src="../../Images/genai/midjourney_thumbnail.jpg"
                        alt="Midjourney">
                </div>
                <div class="sizing">
                    <div class="more" id="over4">
                        <h2>
                            Dall-E
                        </h2>
                        <button class="more_btn" id="btn4">
                            More Details
                        </button>
                        <p> </p>
                    </div>
                    <img class="hover_effect" id="over4" src="../../Images/genai/dalle_thumbnail.jpg" alt="Midjourney">
                </div>
            </div>
        </div>
        <div class="more_details" id="det1">
            <div class="clone">
                <div class="info_image">
                    <img src="../../Images/genai/chatgpt_large.jpg" alt="ChatGPT">
                </div>
                <div class="desc">
                    <h2>
                        ChatGPT
                    </h2>
                    <button id="btn1">
                        More Details
                    </button>
                    <p>
                        ChatGPT is a large language model-based chatbot developed by OpenAI and launched on
                        November 30, 2022, notable for enabling users to refine and steer a conversation towards
                        a desired length, format, style, level of detail, and language used. (Wikipedia)
                    </p>
                    <button id="btn2">
                        Visit Website
                    </button>
                    <div id="holder">
                        <div class="logo">
                            <img src="../../Images/genai/chatgpt_thumbnail.jpg" alt="ChatGPT">
                        </div>
                    </div>
                </div>
            </div>
            <div class="close" id="close1">
                X
            </div>
        </div>
        <div class="more_details" id="det2">
            <div class="clone">
                <div class="info_image">
                    <img src="../../Images/genai/bard_large.jpg" alt="ChatGPT">
                </div>
                <div class="desc">
                    <h2>
                        Google Bard
                    </h2>
                    <button id="btn1">
                        More Details
                    </button>
                    <p>
                        Bard is a conversational generative artificial intelligence chatbot developed by Google,
                        based initially on the LaMDA family of large language models and later the PaLM LLM.
                        (Wikipedia) </p>
                    <button id="btn2">
                        Visit Website
                    </button>
                    <div id="holder">
                        <div class="logo">
                            <img src="../../Images/genai/bard_thumbnail.jpg" alt="ChatGPT">
                        </div>
                    </div>
                </div>
            </div>
            <div class="close" id="close2">
                X
            </div>
        </div>
        <div class="more_details" id="det3">
            <div class="clone">
                <div class="info_image">
                    <img src="../../Images/genai/midjourney_large.jpg" alt="ChatGPT">
                </div>
                <div class="desc">
                    <h2>
                        Midjourney
                    </h2>
                    <button id="btn1">
                        More Details
                    </button>
                    <p>
                        Midjourney is a generative artificial intelligence program and service created and
                        hosted by San Francisco-based independent research lab Midjourney, Inc. (Wikipedia) </p>
                    <button id="btn2">
                        Visit Website
                    </button>
                    <div id="holder">
                        <div class="logo">
                            <img src="../../Images/genai/midjourney_thumbnail.jpg" alt="ChatGPT">
                        </div>
                    </div>
                </div>
            </div>
            <div class="close" m id="close3">
                X
            </div>
        </div>
        <div class="more_details" id="det4">
            <div class="clone">
                <div class="info_image">
                    <img src="../../Images/genai/dalle_large.jpg" alt="ChatGPT">
                </div>
                <div class="desc">
                    <h2>
                        DALL-E
                    </h2>
                    <button id="btn1">
                        More Details
                    </button>
                    <p>
                        DALL-E and DALL-E 2 are text-to-image models developed by OpenAI using deep learning
                        methodologies to generate digital images from natural language descriptions, called
                        prompts (Wikipedia) </p>
                    <button id="btn2">
                        Visit Website
                    </button>
                    <div id="holder">
                        <div class="logo">
                            <img src="../../Images/genai/dalle_thumbnail.jpg" alt="ChatGPT">
                        </div>
                    </div>
                </div>
            </div>
            <div class="close" id="close4">
                X
            </div>
        </div>
    </div>
    @* <div id="div2">
        <h1>GenAI Organizations</h1>
        <div class="tuoptions">
            <div class="ko">
                <div class="sizing">
                    <div class="more" id="over1">
                        <h2>
                            Microsoft
                        </h2>
                        <button class="more_btn" id="btn1">
                            More Details
                        </button>
                        <p> </p>
                    </div>
                    <img class="hover_effect" id="over1" src="../../Images/genai/ms_thumbnail.jpg" alt="Microsoft">
                </div>
                <div class="sizing">
                    <div class="more" id="over2">
                        <h2>
                            Google
                        </h2>
                        <button class="more_btn" id="btn2">
                            More Details
                        </button>
                        <p> </p>
                    </div>
                    <img class="hover_effect" id="over2" src="../../Images/genai/google_thumbnail.jpg" alt="Google">
                </div>
            </div>
            <div class="ko">
                <div class="sizing">
                    <div class="more" id="over3">
                        <h2>
                            IBM
                        </h2>
                        <button class="more_btn" id="btn3">
                            More Details
                        </button>
                        <p> </p>
                    </div>
                    <img class="hover_effect" id="over3" src="../../Images/genai/ibm_thumbnail.jpg" alt="IBM">
                </div>
                <div class="sizing">
                    <div class="more" id="over4">
                        <h2>
                            Amazon
                        </h2>
                        <button class="more_btn" id="btn4">
                            More Details
                        </button>
                        <p> </p>
                    </div>
                    <img class="hover_effect" id="over4" src="../../Images/genai/amazon_thumbnail.jpg" alt="Amazon">
                </div>
            </div>
        </div>
        <div class="more_details" id="det1">
            <div class="clone">
                <div class="info_image">
                    <img src="../../Images/genai/ms_thumbnail.jpg" alt="ChatGPT">
                </div>
                <div class="desc">
                    <h2>
                        Microsoft
                    </h2>
                    <button id="btn1">
                        More Details
                    </button>
                    <p>
                        Microsoft Corporation is an American multinational technology corporation headquartered
                        in Redmond, Washington. Microsofts best-known software products are the Windows line of
                        operating systems, the Microsoft 365 suite of productivity applications, and the
                        Internet Explorer and Edge web browsers. (Wikipedia)

                    </p>
                    <button id="btn2">
                        Visit Website
                    </button>
                    <div id="holder">
                        <div class="logo">
                            <img src="../../Images/genai/ms_thumbnail.jpg" alt="Microsoft">
                        </div>
                    </div>
                </div>
            </div>
            <div class="close" id="close1">
                X
            </div>
        </div>
        <div class="more_details" id="det2">
            <div class="clone">
                <div class="info_image">
                    <img src="../../Images/genai/google_thumbnail.jpg" alt="ChatGPT">
                </div>
                <div class="desc">
                    <h2>
                        Google
                    </h2>
                    <button id="btn1">
                        More Details
                    </button>
                    <p>
                        Google LLC is an American multinational technology company focusing on artificial
                        intelligence, online advertising, search engine technology, cloud computing, computer
                        software, quantum computing, e-commerce, and consumer electronics. (Wikipedia)
                    </p>
                    <button id="btn2">
                        Visit Website
                    </button>
                    <div id="holder">
                        <div class="logo">
                            <img src="../../Images/genai/google_thumbnail.jpg" alt="ChatGPT">
                        </div>
                    </div>
                </div>
            </div>
            <div class="close" id="close2">
                X
            </div>
        </div>
        <div class="more_details" id="det3">
            <div class="clone">
                <div class="info_image">
                    <img src="../../Images/genai/ibm_thumbnail.jpg" alt="ChatGPT">
                </div>
                <div class="desc">
                    <h2>
                        IBM
                    </h2>
                    <button id="btn1">
                        More Details
                    </button>
                    <p>
                        The International Business Machines Corporation, nicknamed Big Blue, is an American
                        multinational technology corporation headquartered in Armonk, New York and is present in
                        over 175 countries. (Wikipedia) </p>
                    <button id="btn2">
                        Visit Website
                    </button>
                    <div id="holder">
                        <div class="logo">
                            <img src="../../Images/genai/ibm_thumbnail.jpg" alt="ChatGPT">
                        </div>
                    </div>
                </div>
            </div>
            <div class="close" m id="close3">
                X
            </div>
        </div>
        <div class="more_details" id="det4">
            <div class="clone">
                <div class="info_image">
                    <img src="../../Images/genai/amazon_thumbnail.jpg" alt="ChatGPT">
                </div>
                <div class="desc">
                    <h2>
                        Amazon
                    </h2>
                    <button id="btn1">
                        More Details
                    </button>
                    <p>
                        Amazon.com, Inc. is an American multinational technology company focusing on e-commerce,
                        cloud computing, online advertising, digital streaming, and artificial intelligence.
                        (Wikipedia) </p>
                    <button id="btn2">
                        Visit Website
                    </button>
                    <div id="holder">
                        <div class="logo">
                            <img src="../../Images/genai/amazon_thumbnail.jpg" alt="ChatGPT">
                        </div>
                    </div>
                </div>
            </div>
            <div class="close" id="close4">
                X
            </div>
        </div>
    </div> *@
</div>