@model GenAI

@{
    ViewData["Title"] = "Create";
}
<div id="new_ai">
    <h2 id="mod">
        Add new GenAI Website
    </h2>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="GenAIName" class="control-label"></label>
                    <input asp-for="GenAIName" class="form-control" />
                    <span asp-validation-for="GenAIName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Summary" class="control-label"></label>
                    <textarea asp-for="Summary" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label"> Image File</label>
                    <div class="custom-file">
                        <input name="imageFile" class="form-control custom-file-input" type="file" />
                    </div>
                </div>

                <div class="form-group hide-me">
                    <label asp-for="ImageFilename" class="control-label"></label>
                    <input type="hidden" asp-for="ImageFilename" class="form-control" value="Default Image Filename" />
                </div>
                <span asp-validation-for="ImageFilename" class="text-danger"></span>

                <div class="form-group hide-me">
                    <label asp-for="AnchorLink" class="control-label"></label>
                    <input asp-for="AnchorLink" class="form-control" value="Default Anchor Link" />
                </div>
                <span asp-validation-for="AnchorLink" class="text-danger"></span>

                <div class="form-group hide-me">
                    <label asp-for="Like" class="control-label"></label>
                    <input asp-for="Like" class="form-control" value="0" />
                </div>
                <span asp-validation-for="Like" class="text-danger"></span>
                <input type="hidden" name="stringValue" value=@ViewBag.StringValue />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="GenAiSites">Back to GenAiSites</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@* <a asp-action="Index">Back to List</a> *@