.totalContainer{
    width: 1200px;
    height: 490px;
    background-image: url("../img/activeImg_1.png");
    background-repeat: no-repeat;
    background-size: 1200px 490px;
    margin:50px;
}
.row{
    display: flex;
  }
.box{
    width: 10px;
    height: 10px;
    border: 0.1px solid #000;
}
.tableDiv{
    width: 1200px;
    height: 250px;
    overflow:auto;
    margin-top: 2%;
}
.border_2{
border-top: 2px solid !important;
border-bottom: 1px solid;
}
.th_width{
    width: 14.28% !important;
}
.status_red{
    background-color: red !important;
}
.status_green{
    background-color: green !important;
}
.status_orange{
    background-color: orange !important;
}
.status_gray{
    background-color: gray !important;
}